<div ng-blur="focused = false">
    <b>Today</b>
    <input type="search"
           placeholder="Search Exercises"
           ng-model="searchText"
           jxl-enter="showPossibleMatches()"
           ng-change="showPossibleMatches()"
           ng-focus="focused = true">
    <div class="searchSuggestions" ng-show="showSuggestions && focused">
        <div ng-repeat="result in searchResults" ng-click="chooseExercise(result)">{{result.name}}</div>
    </div>

    <div>
        <div ng-repeat="exercise in todaysExercises">
            <img width="72px" height="72px" src="{{exercise.icon_path}}" alt="{{exercise.name}}"></img>
            <span><b>{{exercise.name}}</b></span>
            <routine-editor />
        </div>
    </div>

</div>