<div ng-blur="focused = false">
    <div ng-show="loadingTodaysWorkouts">
        <img src="assets/images/loading.gif"></img>
    </div>
    <!--<div ng-hide="loadingTodaysWorkouts">-->
        <date-scroller />
        <input type="search"
               placeholder="Search Exercises"
               ng-model="searchText"
               jxl-enter="showPossibleMatches()"
               ng-change="showPossibleMatches()"
               ng-focus="focused = true">
        <div class="searchSuggestions" ng-show="showSuggestions && focused">
            <div ng-repeat="result in searchResults" ng-click="chooseExercise(result)">{{result.name}}</div>
        </div>


        <div ng-repeat="workout in todaysWorkouts">
            <routine-editor routine="routine" ng-repeat="routine in workout.routines" />
            <!--<p>name: {{workout.name}}</p>-->
            <!--<p>occurrence: {{workout.occurrence}}</p>-->
            <!--<p>routines:</p>-->
            <!--<div ng-repeat="routine in workout.routines">-->
                <!--<p>Exercise: {{routine.exercise}}</p>-->
                <!--<p>Sets: {{routine.sets}}</p>-->
            <!--</div>-->
        </div>

        <!--<div>-->
            <!--<div ng-repeat="workout in todaysWorkouts">-->
                <!--<p>name: {{workout.name}}</p>-->
                <!--<p>occurrence: {{workout.occurrence}}</p>-->
                <!--<p>routines:</p>-->
                <!--<div ng-repeat="routine in workout.routines">-->
                    <!--<p>Exercise: {{routine.exercise}}</p>-->
                    <!--<p>Sets: {{routine.sets}}</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>