<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="images/bench_press.jpg" alt="{{name}}">
    </a>
    <div class="media-body">
        <div class="span6">
            <h4 class="media-heading" style="float: left; margin-right: 10px;">{{name}}</h4>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
         </div>
        <div id="setViewsContent"></div>
    </div>
</div>