<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="images/bench_press.jpg" alt="{{name}}">
    </a>
    <div class="media-body">
        <h4 class="media-heading" style="float: left;">{{name}}</h4>
        <button type="button" class="btn btn-default btn-sm" id="addSetButton">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <div id="setViewsContent" name="setViewsContent"></div>
    </div>

</div>