<div class="media">
    <a class="pull-left" href="#">
        <img class="media-object" src="images/bench_press.jpg" alt="{{name}}">
    </a>
    <div class="media-body">
        <h4 class="media-heading">{{name}}</h4>
        <div id="setViewsContent"></div>
    </div>
</div>