<div xmlns="http://www.w3.org/1999/html">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" id="loginViewUsernameInput">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Password" id="loginViewPasswordInput">
    </div>

    <button type="button" class="btn btn-default">Login</button>
</div>