<div xmlns="http://www.w3.org/1999/html">
    <p><span class="label label-danger{{#unless error}}.hide{{/unless}}">Error:</span> {{errorMessage}}</p>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Username" id="loginViewUsernameInput" name="loginViewUsernameInput">
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Password" id="loginViewPasswordInput" name="loginViewPasswordInput">
    </div>

    <input type="checkbox" id="loginViewRememberMeCheckbox" name="loginViewRememberMeCheckbox">
    <span class="label">Remember Me</span>

    <button type="button" class="btn btn-default">Login</button>
</div>