<div xmlns="http://www.w3.org/1999/html">
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Workout Type
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="workoutTypeDropdown" name="workoutTypeDropdown">
        {{#each workouts}}
            <li><a href="#" data="{{id}}">{{name}}</a></li>

        {{/each}}
        </ul>
    </div>
    <script src="../bower_components/bootstrap/js/dropdown.js"></script>
</div>