<div>
    <span>Reps:</span>
    <div class="input-group">
        <input type="text" class="form-control" value="{{reps}}">
    </div>
    <span>Weight:</span>
    <div class="input-group">
        <input type="text" class="form-control" value="{{weight}}">
        <span class="input-group-addon">lbs</span>
    </div>
</div>