<div>
    <span>Reps:</span>
    <div class="input-group" style="width: 120px;">
        <input type="text" class="form-control" value="{{reps}}">
    </div>
    <span>Weight:</span>
    <div class="input-group" style="width: 120px;">
        <input type="text" class="form-control" value="{{weight}}">
        <span class="input-group-addon">lbs</span>
    </div>
    <a href="#" id="deleteSetLink{{id}}">Delete</a>
    <p style="padding-bottom: 10px;">&nbsp;</p>
</div>