<div xmlns="http://www.w3.org/1999/html">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{name}}</h3>
        </div>
        <div class="panel-body">

            <!--<div class="media">-->
                <!--<a class="pull-left" href="#">-->
                    <!--<img class="media-object" src="images/bench_press.jpg" alt="{{name}}">-->
                <!--</a>-->
                <!--<div class="media-body">-->
                    <!--<h4 class="media-heading">{{name}}</h4>-->
                    <!--<div id="setViewsContent"></div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>
</div>