<div xmlns="http://www.w3.org/1999/html">
    <ul class="list-group" id="workoutsList" name="workoutsList">
        {{#each exercises}}
            <li class="list-group-item"><a href="#" data="{{id}}">{{name}}</a></li>
        {{/each}}
    </ul>
</div>